
@{
    ViewBag.Title = "Index";
}

<h2>You are logged in</h2>
<a href="/Users/Browse"><h1>Events</h1></a>
<a href="/Users/History"><h1>Purchase History</h1></a>
<a href="/Users/Card"><h1>Payment Info</h1></a>
