@model StoreForTickets.ViewModels.ExistingCardVM

@{
    ViewBag.Title = "UserCards";
}

<h2>UserCards</h2>
<h1>@Model.CardNumber</h1>
<h1>@Model.Name</h1>
<h1>@Model.ExpiryDate</h1>
<h1>@Model.SecurityCode</h1>

