@model StoreForTickets.ViewModels.IndexVM

@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the ticket store</h2>
<a href="/Home/Login"><h1>Login</h1></a>

<a href="/Home/Register"><h1>Register</h1></a>
